.blogs{background-color: #f2f2f2;}
.content{
    max-width:1000px;
    margin:auto;
}
.grid{display:grid;
grid-template-columns: 500px 500px;}

.intro{padding:30px;
    
font-family: helvetica;
}
.illustration{height:500px;
width:500px;
margin:20px 20px 0px 20px;}


.about{margin:50px 20px 20px 30px;}
h1{font-size: 40px;}
p{font-size: 18px;}

.title{font-family: segoe ui;}


.blogs{display:grid;
grid-auto-flow: row;
padding:20px;}
.blog-card{height:auto;
    width:800px;
border-left:solid 4px #00cc99;

margin:8px 10px 0px 10px;
padding:15px;
font-size: 20px;
font-family: segoe ui;
border-radius: 2px;
background-color: #ffffff;
}

.projects{display:grid;
grid-auto-flow: column;
padding-bottom:20px;}

.project{height:150px;
width:300px;
background-color: #f2f2f2;
margin:20px;
}

footer{height:50px;
background-color: #333333;
text-align: center;
padding-top:20px;
font-family: arial;
font-size: 15px;
color:#ffffff;
}
.navbar{margin:50px 20px 20px auto;

}

ul{
list-style-type: none;
}
li{display:inline;
margin-left:30px;
font-size: 20px;}
.grid{
    display: grid;
    grid-template-columns: 400px 500px;
}
.box{padding:20px;
    margin:auto;
    background-color:#f2f2f2;

}

.profile{width:150px;
    height:150px;
    border-radius: 50%;
    margin:auto;
}
.flex{display: flex;
flex-direction: row;}
.info{font-family: arial;}


@media only screen and (max-width: 600px) {
    .grid {
      grid-template-columns: 360px;
      grid-auto-flow: row;
    }
    .illustration{width:100%;
    height:100%;}
    .blog-card{width:auto;}
    .projects{max-width:400px;
    grid-auto-flow: row;}
  }
  